.bg-danger {
  --bs-bg-opacity: 1;
  background-color: #c31e22 !important;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: white;
  text-decoration: none;
  background: 0 0;
  border: 0;
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; */
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid white;
  float: left;
  width: 80%;
  background: #c31e22;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #c31e22;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

::placeholder {
  color: white;
}

.story-banner {
  height: 590px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  display: flex;
  justify-content: center;
}
.banner {
  width: 100%;
  padding-bottom: 0;
  position: relative;
}
.hero-image {
  background-image: url("./Content/story-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: left;
}
.btn-none {
  padding: 0;
  color: #ffffff;
}
.column {
  float: left;
  width: 50%;
  margin-top: 20px;
}
.column-1 {
  float: left;
  width: 100%;
  margin-top: 40px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.imgarea {
  width: 100%;
}
.footer {
  display: flex;
  text-align: left;
}
.text {
  color: #c31e22;
  text-decoration: none;
  font-weight: bold;
  padding: 0px;
  text-align: left;
}
.text-danger-1 {
  color: #c31e22;
  text-decoration: none;
  font-weight: bold;
  padding: 0px;
  margin-left: 23px;
  text-align: left;
}
.text-red {
  text-decoration: none;
  color: black;
}
.text-red-1 {
  text-decoration: none;
  color: black;
  margin-left: 2px;
}
.text-red:hover {
  color: #c31e22;
}
.text-danger-2 {
  padding: 0;
  margin-left: 38px;
}
.text-danger-3 {
  color: #c31e22;
  text-decoration: none;
  font-weight: bold;
  padding-left: 54px;
  text-align: center;
}
.text-danger-4 {
  margin-left: 2px;
}
.uan-num {
  width: 45%;
  padding-top: 10px;
  margin-left: 124px;
}

i.bi.bi-arrow-up-circle {
  font-size: 40px;
}

.fab.fa-whatsapp {
  font-size: 41px;
  color: #c31e22;
}

@media screen and (max-width: 991px) {
  .column {
    width: 100%;
  }

  .column-1 {
    margin-top: 40px;
  }
  .text-danger-1,
  .text-danger-2 {
    margin: 0;
  }

  .text-danger-3 {
    text-align: left;
    padding: 0;
  }

  .uan-num {
    margin: 20px 22px;
    width: 65%;
  }
}

@media (min-width: 300px) and (max-width: 420px) {
  .uan-num {
    margin: 10px 0 30px;
    width: 50%;
  }
}
